body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("/docs/assets/images/background-money.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 95vh;
}

.body-dolar {
  background-image: url("/docs/assets/images/background-dolar.jpg");
}

.body-euro {
  background-image: url("/docs/assets/images/background-euro.jpg");
}

.body-space {
  background-image: url("/docs/assets/images/background-space.jpg");
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 55px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.converter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  text-align: center;
  margin: 10px;
}

.image {
  border-radius: 20px;
  width: 300px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

body>img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

a {
  text-decoration: none;
}


.btn-index-grad {
  background-image: linear-gradient(to right, #134E5E 0%, #71B280 51%, #134E5E 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
}

.btn-index-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.input-money {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money-input {
  font-size: 16px;
  margin: 10px;
  padding: 6px;
  border-radius: 4px;
  width: 200px;
  color: rgb(29, 26, 26);
}

.money-input:focus {
  outline: none;
  border: 2px solid #116314;
  /* Exemplo de borda colorida */
  background-color: #e8f0fe;
  /* Exemplo de cor de fundo */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-grad-money {
  background-image: linear-gradient(to right, #000000 0%, #0f9b0f 51%, #000000 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin: 10px;
  display: inline-block;
}

.btn-grad-money:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.result {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin: 10px auto;
  width: fit-content;
  max-width: 80%;
  font-size: 22px;
  font-weight: bold;
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}